<div class = "offset-2 col-5">
  <div class = "row">
    <strong class = "border">ジャンル検索</strong>
    </div>
    <div class = "row border">
      <% @genres.each do |genre| %>
      <%= link_to genre.name, genre_path(genre) %>
      <% end %>
    </div>
  </div>
</div>