<div class = "text-center"><h2><strong>About</strong></h2></div>
<div class = "text-center">
ながのCAKEはは全国発送可能なケーキ屋さんです。</br>
お子様からお年寄りの方までお召し上がりいただけるよう、</br>
様々なバリエーションをご用意しております。</br>
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
ぜひご注文ください。</div>

<div style = "text-align: center">
  <%= image_tag "04.jpeg", size: "1000x350" %>
</div>