 <% flash.each do |message_type, message| %>
      <%= message %>
      <% end %>
<div class="col-md-6 mx-auto mt-5">
  <h1><i class="fas fa-book"></i><strong>Nagano Cake!!</strong></span></h1>
  <p> <i class="fas fa-book"></i><span class="glyphicon glyphicon-book"></span><strong></strong></p>
  <p>delicious cakes.</p>
  <div class="row">
   <p class="ml-5"><a class="btn btn-info" href="/customers/sign_in">Log in</a></p>
   <p class="ml-5"><a class="btn btn-success" href="/customers/sign_up">Sign up</a></p>
  </div>
</div>